body {
    background-color: #9932CC;
    padding: 20px;
    margin: 0;
}
.title {
    color: #FFFFFF;
}
h1, h2, p, ul, li {
    font-family: sans-serif;
}
ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
ul.header {
    background-color: #808080;
    padding: 0;
}
ul.header li a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.content {
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 20px;
}
.content h2 {
    padding: 0;
    margin: 0;
}
.content li {
    margin-bottom: 10px;
}

.active {
    background-color: #DCDCDC;
    border: 0;
}
